@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@font-face {
  font-family: Avenir-bold;
  src: url(AvenirLTStd-Black.otf);
}
@font-face {
  font-family: Avenir-light;
  src: url(AvenirLTStd-Book.otf);
}

* {
  font-family: Avenir-light;
  
}

html text{
  color: #161E31;
}

html a {
  color: #161E31;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin-top: 1.8rem;
}


.logo {
  margin-top: .8rem;
  position: absolute;
  left: auto;
  right: auto;
  
}

.home-text {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text p,
h1 {
  text-align: center;
}

.home-text h1 {
  margin-top: 0.625rem;
  font-size: 4rem;
  font-weight: 700;
  font-family: Avenir-bold;
}

.home-text p {
  font-size: 1.125rem;
  max-width: 80%;
  text-align: justify center;
}

.p1 {
  font-size: 1.25rem;
  text-align: justify;
}

@media  screen and (min-width=2560px) {
  .p1{
    padding-left: 16rem;
  padding-right: 16rem;
  }
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.demo-video {
  width: 90%;
  margin: 5rem 0 5rem 0;
}

.primary-button {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  color: aliceblue;
  font-size: 1.25rem;
  width: 15.625rem;
  height: 3.75rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(209, 73, 0, 0.932);
  border-radius: 5px;

}

.nav-button {
  color: aliceblue;
  font-size: 1.25rem;
  width: 12.5rem;
  height: 3.438rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(22, 30, 49, 1);
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover {
  cursor: pointer;
  color: black;
  /* White */

background: #FFFEFD;
/* Bliro Orange */

border: 0.188rem solid rgba(209, 73, 0, 0.932);
box-sizing: border-box;
border-radius: 5px;
}

.secondary-button {
  margin-bottom: 1.25rem;
  color: aliceblue;
  font-size: 1.125rem;
  width: 14rem;
  height: 3.438rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(209, 73, 0, 0.932);
  border-radius: 5px;
  box-shadow: none;
}

.secondary-button:hover {
  cursor: pointer;
  color: black;
  /* White */

background: #FFFEFD;
/* Bliro Orange */

border: 0.188rem solid rgba(209, 73, 0, 0.932);
box-sizing: border-box;
border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

.column {
  flex: 25%;
  margin: auto;
  max-width: 25%;
  padding: 0 0.25rem;
}

.slide {
  margin-top: 5rem;
  vertical-align: middle;
  width: 99%;
}

.slide img{
  height: auto;
  width: fit-content;
}

.feature-container {
  margin-top: 10rem;
}

.feature-container h1 {
  font-family: Avenir-bold;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: row;
  margin-top: 6.25rem;
  align-items: center;
  justify-content: space-between;
  text-align: justify center;
}

.slide{
  margin-left: 2.3rem;
  width: 80%;
  
}

.feature-desc {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.end-element {
  font-size: 1.125rem;
}

.pricing-table{
  margin-top: 5rem;
}

table tr td{
  padding:1.25rem ;
}

.price{
  font-size: 4rem;
  font-weight: 700;
  font-family: Avenir-bold;
}

.bliro-feature{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: justify;
  
}

.faq-header{
  font-family: Avenir-bold;
  margin-top: 15.625rem;
  margin-bottom: 5rem;
  font-size: 4rem;
}

.question{
  font-family: Avenir-bold;
}

.faq-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
} 

.faq{
  top: 0;
  margin:0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.privacy-container, .privacy-container-de{
  margin-top: 5.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: justify center;
  align-items: center;
  justify-content: center;
}

.privacy-container-de, .privacy-container h2 {
  
  font-family: Avenir-bold;
}

