@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@font-face {
  font-family: Avenir-bold;
  src: url(AvenirLTStd-Black.otf);
}
@font-face {
  font-family: Avenir-light;
  src: url(AvenirLTStd-Book.otf);
}

* {
  font-family: Avenir-light;
}

html text {
  color: #161e31;
}

html a {
  color: #161e31;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin-top: 1.8rem;
}

.logo {
  margin-top: 0.8rem;
  position: absolute;
  left: auto;
  right: auto;
}

.home-text {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text p,
h1 {
  text-align: center;
}

.home-text h1,
.sitetitle,
.about-p1 h1 {
  margin-top: 0.625rem;
  font-size: 4rem;
  font-weight: 700;
  font-family: Avenir-bold;
}

.home-text p {
  font-size: 1.125rem;
  max-width: 80%;
  text-align: justify center;
}

.p1 {
  font-size: 1.25rem;
  text-align: justify;
}

.mainheading {
  margin-top: 5rem;
}

.sitetitle {
  margin-bottom: 5rem;
}

.lead {
  margin-bottom: 2rem;
}

@media screen and (min-width=2560px) {
  .p1 {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.demo-video {
  width: 90%;
  margin: 4rem 0 5rem 0;
}

.primary-button {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  color: aliceblue;
  font-size: 1.25rem;
  width: 15.625rem;
  height: 3.75rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(209, 73, 0, 0.932);
  border-radius: 5px;
}

.primary-button:hover {
  cursor: pointer;
  color: white;
  /* White */

  background: rgba(161, 65, 13, 1);
  /* Bliro Orange */

  border: 0.188rem solid rgba(161, 65, 13, 1);
  box-sizing: border-box;
  border-radius: 5px;
}


.nav-button {
  color: aliceblue;
  font-size: 1.25rem;
  width: 12.5rem;
  height: 3.438rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(22, 30, 49, 1);
  border-radius: 5px;
  cursor: pointer;
}


.secondary-button {
  margin-bottom: 1.25rem;
  color: black;
  font-size: 1.125rem;
  width: 14rem;
  height: 3.438rem;
  border: 0.125rem solid rgba(209, 73, 0, 0.932);

  /* Bliro Orange */

  background: white;
  border-radius: 5px;
  box-shadow: none;
}

.secondary-button-buy {
  margin-bottom: 1.25rem;
  color: aliceblue;
  font-size: 1.125rem;
  width: 14rem;
  height: 3.438rem;
  border: 0.125rem solid white;

  /* Bliro Orange */

  background: rgba(209, 73, 0, 0.932);
  border-radius: 5px;
  box-shadow: none;
}

.secondary-button-buy:hover {
  cursor: pointer;
  color: white;
  /* White */

  background: rgba(161, 65, 13, 1);
  /* Bliro Orange */

  border: 0.188rem solid rgba(161, 65, 13, 1);
  box-sizing: border-box;
  border-radius: 5px;
}

.secondary-button:hover {
  cursor: pointer;
  color: white;
  /* White */

  background: #c4c4c4;
  /* Bliro Orange */

  border: 0.188rem solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

.column {
  flex: 25%;
  margin: auto;
  max-width: 25%;
  padding: 0 0.25rem;
}

.slide {
  margin-top: 5rem;
  vertical-align: middle;
  width: 99%;
}

.slide img {
  height: auto;
  width: fit-content;
}

.advantages{
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background: #FFF9F5;
  z-index: 1000;
  height: 15.75rem;
  
}

.advantage{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.end-banner{
  margin-top: 6rem;
  background: #FFF9F5;
  z-index: 1000;
  height: 22.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.banner-button button{
  margin: 0
}

.advantage h1, .end-banner h1{
  font-size: 4rem;
  font-family: Avenir-bold;
  color: rgba(209, 73, 0, 0.932);
}

.advantage p{
  font-size: 1rem;
  text-align: center;
  max-width: 60%;
  color: #161e31;
}

.feature-container {
  margin-top: 8rem;
}

.feature-container h1 {
  font-family: Avenir-bold;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.feature img{
  width: 50%;
}

.feature {
  display: flex;
  flex-direction: row;
  margin-top: 6.25rem;
  align-items: center;
  justify-content: space-between;
  text-align: justify center;
}

.slide {
  margin-left: 2.3rem;
  width: 80%;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.end-element {
  font-size: 1.125rem;
}

.end-element:hover{
  color: #A1410D;
  text-decoration: none;
  
}

.download {
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  height: 10.438rem;
  width: 150%;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.pricing-table {
  margin-top: 5rem;
  margin-bottom: 5.625rem;
}

table tr td {
  padding: 1.25rem;
}

.price {
  font-size: 4rem;
  font-weight: 700;
  font-family: Avenir-bold;
}

.feature-row:hover {
  background-color: rgba(236, 234, 234, 0.534);
  border-radius: 5px;
}

.bliro-feature {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: justify;
}

.faq-header {
  font-family: Avenir-bold;
  margin-top: 5.625rem;
  margin-bottom: 5rem;
  font-size: 4rem;
}

.question {
  font-family: Avenir-bold;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.faq {
  top: 0;
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.privacy-container,
.privacy-container-de {
  margin-top: 5.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: justify center;
  align-items: center;
  justify-content: center;
}

.privacy-container-de,
.privacy-container h2 {
  font-family: Avenir-bold;
}

.about-p1 {
  margin-top: 4rem;
  margin-bottom: 10.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify center;
}

.about-desc{
  width: 80%;
  text-align: justify;
}

.about-p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify center;
}

.about-p2 h2 {
  text-align: center;
  font-family: Avenir-bold;
}

.about-p2 img {
  margin-top: 4rem;
}

.overlay  {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: none;
  z-index: 2;
}

.overlay-bottom{
  display: none;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.popup h3 {
  font-size: 0.938rem;
  height: 3.125rem;
  line-height: 3.125rem;
  color: black;
}
.CloseIcon {
  cursor: pointer;
}

.showcase{
  margin-top: 4rem;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  justify-content: space-between;
}

.showcase:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.showcase img{
  width: 90%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.showcase-desc{
  display: flex;
  flex-direction: column;
}

.showcase-desc p{
  margin-top: 1.2rem;
  color: #525252;
}

.blog-title{
  font-family: Avenir-bold;
}

.blog-title:hover{
  cursor: pointer;
  color:darkblue;
  text-decoration: underline;
}

.blogs{
  margin-top: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 2rem;
  
}

.card{
  padding: 1.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

